body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #2b283a;
  margin: 0;
}

header {
  background-color: #5f29a3;
  padding: 45px 0 45px 0;
}

/*H*/

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

/*Fonts*/

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
