body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #2b283a;
  margin: 0;
}

/*Header*/

header {
  background-color: #5f29a3;
  padding: 45px 0 45px 0;
}

/*H*/

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

/*Section*/

section {
  padding: 45px 0 45px 0;
}

/*Container*/

.container {
  margin: auto;
  width: 620px;
}

/*Fonts*/

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*Links*/

a {
  color: #ef5839;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/*Images*/

.nike-sneakers {
  border: 1px solid #5f29a3;
  border-radius: 6px;
  width: 400px;
}

.crypto-coin {
  border: 1px solid #5f29a3;
  border-radius: 6px;
  width: 400px;
}

.seven-items {
  margin-top: 15px;
  border: 1px solid #5f29a3;
  border-radius: 6px;
  width: 400px;
}
