/*BASE*/

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #2b283a;
  margin: 0;
  line-height: 23px;
}

/*LAYOUT*/

/*Header*/

header {
  background-color: #8c8060;
  padding: 45px 0 45px 0;
}

/*Sections*/

section {
  padding: 45px 0 45px 0;
}

#crypto-section {
  background-color: #757153;
  color: whitesmoke;
}

/*Container*/

.container {
  margin: auto;
  width: 620px;
}

/*H*/

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

/*Fonts*/

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*Links*/

a {
  color: #ef5839;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/*Images*/

.nike-sneakers {
  border: 1px solid #8c8060;
  border-radius: 6px;
  width: 300px;
}

.crypto-coin {
  border: 1px solid #8c8060;
  border-radius: 6px;
  width: 250px;
  height: 250px;
}

.seven-items {
  border: 1px solid #8c8060;
  border-radius: 6px;
  width: 250px;
  height: 250px;
}

.images-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*Buttons*/

.btn {
  padding: 10px 19px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn.btn-dark {
  background-color: #757153;
  color: whitesmoke;
}

.btn.btn-mid {
  background-color: #a1936c;
  color: #131418;
}

.btn.btn-light {
  background-color: #c3c7be;
  color: #757153;
}

.btn:hover,
.btn:active {
  background-color: #f3e885;
  color: #2b283a;
}

/*Footer*/

footer {
  color: #8c8060;
  padding: 16px;
  text-align: center;
}
